<div style="display: flex; justify-content: center; margin-top: 20px">
  <form [formGroup]="registerAddress" (ngSubmit)="submit()">
    <p>Data</p>
    <div class="mt-10">
      <input
        type="text"
        placeholder="Enter name"
        name="name"
        formControlName="name"
      />
      <div *ngIf="isFieldValid(registerAddress, 'name')">
        <p
          class="error"
          *ngIf="getFieldErrorByType(registerAddress, 'name', 'required')"
        >
          This is required
        </p>
        <p
          class="error"
          *ngIf="getFieldErrorByType(registerAddress, 'name', 'minlength')"
        >
          The name should be min of 5
        </p>
      </div>
    </div>
    <div class="mt-10">
      <input
        type="text"
        placeholder="Enter email"
        name="email"
        formControlName="email"
      />
    </div>
    <div *ngIf="isFieldValid(registerAddress, 'email')">
      <p
        class="error"
        *ngIf="getFieldErrorByType(registerAddress, 'email', 'required')"
      >
        This is required
      </p>
      <p
        class="error"
        *ngIf="getFieldErrorByType(registerAddress, 'email', 'pattern')"
      >
        Enter valid email
      </p>
    </div>
    <div class="mt-10" formArrayName="addresses">
      <div style="display: flex; justify-content: end">
        <button type="button" (click)="addAddress()">Add Address</button>
      </div>

      <ng-container *ngIf="addressesAsFormArray.controls.length <= 0">
        <p style="color: red">No address found</p>
      </ng-container>

      <ng-container
        *ngFor="let control of addressesAsFormArray.controls; let i = index"
      >
        <p>Address: {{ control.get("id")?.value }}</p>
        <div style="display: flex; justify-content: end">
          <button type="button" (click)="removeAddress(i)">
            Remove Address : {{ control.get("id")?.value }}
          </button>
        </div>
        <div [formGroupName]="i">
          <div class="mt-10">
            <input
              type="text"
              placeholder="Enter cityname"
              name="cityName"
              formControlName="cityName"
            />
            <div *ngIf="isFieldValid(control, 'cityName')">
              <p
                class="error"
                *ngIf="getFieldErrorByType(control, 'cityName', 'required')"
              >
                This is required
              </p>
            </div>
          </div>

          <div class="mt-10">
            <input
              type="text"
              placeholder="Enter stateName"
              name="stateName"
              formControlName="stateName"
            />
            <div *ngIf="isFieldValid(control, 'stateName')">
              <p
                class="error"
                *ngIf="getFieldErrorByType(control, 'stateName', 'required')"
              >
                This is required
              </p>
            </div>
          </div>

          <div class="mt-10">
            <input
              type="text"
              placeholder="Enter streetName"
              name="streetName"
              formControlName="streetName"
            />
            <div *ngIf="isFieldValid(control, 'streetName')">
              <p
                class="error"
                *ngIf="getFieldErrorByType(control, 'streetName', 'required')"
              >
                This is required
              </p>
            </div>
          </div>

          <div class="mt-10">
            <input
              type="text"
              placeholder="Enter landmark"
              name="landmark"
              formControlName="landMark"
            />
          </div>
        </div>
      </ng-container>
    </div>

    <!-- button -->
    <div style="display: flex; justify-content: end" class="mt-10">
      <button type="submit" [disabled]="registerAddress.invalid">Submit</button>
    </div>
  </form>
</div>
